# Connect and Store the datasets in database tables
- I did not use IBM Db cloud as the account creation has caused many issues to me even when contacting the support line
- I decided the next best thing was to deploy my SQLite server locally
- It was pretty straight forward as shown in the command below
- I had to download `ipython-sql` module to connect to SQLite locally
- References:https://pypi.org/project/ipython-sql/

In [68]:
%reload_ext sql
%sql sqlite:///chicago-db

# Problem 1: Find the total number of crimes recorded in the `CRIME` table

In [69]:
%%sql
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///chicago-db
Done.

[(533,)]

# Problem 2: List community areas with per capita income less than 11000

In [73]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME <11000

 * sqlite:///chicago-db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

# Problem 3: List all case numbers for crimes involving minors?
Children are not considered minors for the purposes of crime analysis

In [76]:
%%sql
SELECT CASE_NUMBER,PRIMARY_TYPE,DESCRIPTION FROM CHICAGO_CRIME_DATA 
WHERE DESCRIPTION LIKE '%MINOR%' or PRIMARY_TYPE LIKE '%MINOR%'

 * sqlite:///chicago-db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

# Problem 4: List all kidnapping crimes involving a child?

In [77]:
%%sql
SELECT PRIMARY_TYPE,DESCRIPTION FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE LIKE '%KIDNAPPING%' AND DESCRIPTION LIKE '%CHILD%'

 * sqlite:///chicago-db
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

# Problem 5: What kind of crimes were recorded at schools?

In [78]:
%%sql
SELECT PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///chicago-db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

# Problem 6: List the average safety score for all types of schools

In [84]:
%%sql
SELECT 'Elementary, Middle, or High School', AVG(SAFETY_SCORE) as average_safety_score FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY 'Elementary, Middle, or High School'

 * sqlite:///chicago-db
Done.

[('Elementary, Middle, or High School', 49.50487329434698)]

# Problem 7: List 5 community areas with highest % households below poverty line

In [90]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5;

 * sqlite:///chicago-db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

# Problem 8: Which community area (number) is most crime prone?

In [94]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS CRIME_COUNT FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY CRIME_COUNT DESC LIMIT 1;

 * sqlite:///chicago-db
Done.

[(25, 43)]

# Problem 9: Use a sub-query to find the name of the community area with highest hardship index

In [97]:
%%sql
SELECT COMMUNITY_AREA_NAME,HARDSHIP_INDEX FROM CENSUS_DATA
WHERE HARDSHIP_INDEX = (
    SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///chicago-db
Done.

[('Riverdale', 98)]

# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [103]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER IN (
    SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER 
    ORDER BY COUNT(*) DESC LIMIT 1
    );

 * sqlite:///chicago-db
Done.

[('Austin',)]