# Exercise 3: JSON exercise
1. Download `Jay.json` in C7W1 Activity folder
2. Import the `JSON` in DataFrame

In [1]:
import pandas as pd

df = pd.read_json("Jay.json")
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# Clean the Data
1. Remove empty row

In [8]:
new_df = df.dropna()

# Add a column to the dataframe
1. Calculate length of column to insert new column as the last index

In [9]:
len_col = len(new_df.columns)
new_df.insert(len_col,"Exercise","")
print(new_df)

     Duration  Pulse  Maxpulse  Calories Exercise
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...      ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 5 columns]

# Perform describe on DataFrame

In [11]:
new_df.describe()

         Duration       Pulse   Maxpulse     Calories
count  164.000000  164.000000  164.00000   164.000000
mean    64.146341  107.676829  134.27439   375.800000
std     42.888820   14.637516   16.58306   266.377134
min     15.000000   80.000000  100.00000    50.300000
25%     45.000000  100.000000  124.00000   250.925000
50%     60.000000  105.500000  131.00000   318.600000
75%     60.000000  111.000000  143.00000   387.600000
max    300.000000  159.000000  184.00000  1860.400000

# Perform info on DataFrame

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 164 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
 4   Exercise  164 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

# Export and save this data as `Jay1.json`

In [15]:
new_df.to_json("Jay1.json")