# Exercise 2 
1. Download `CarSalesByModelStart.xlsx` in C7W1 Activity folder
2. Import `xlsx` in a dataframe

In [3]:
import pandas as pd

df = pd.read_excel('CarSalesByModelStart.xlsx')

print(df)

      Year     Month                Date      Model  Dealer ID  Quantity Sold  \
0     2018   January 2018-01-01 23:00:00   Beaufort       1222             10
1     2018   January 2018-01-01 23:00:00     Salish       1222             13
2     2018   January 2018-01-01 23:00:00   Labrador       1222             16
3     2018   January 2018-01-01 23:00:00  Champlain       1222              3
4     2018   January 2018-01-01 23:00:00     Hudson       1222             22
...    ...       ...                 ...        ...        ...            ...
1195  2019  December 2019-12-01 23:00:00   Beaufort       1288             12
1196  2019  December 2019-12-01 23:00:00     Salish       1288             14
1197  2019  December 2019-12-01 23:00:00   Labrador       1288             18
1198  2019  December 2019-12-01 23:00:00  Champlain       1288              4
1199  2019  December 2019-12-01 23:00:00     Hudson       1288             25

       Profit
0     15000.0
1     39650.0
2     12800.0
3      6900.0
4     11000.0
...       ...
1195  18000.0
1196  42700.0
1197  14400.0
1198   9200.0
1199  12500.0

[1200 rows x 7 columns]

# Add a column to the dataframe
1. Find length of column
2. Add column as the last index

In [5]:
len_col = len(df.columns)
df.insert(len_col,"Maker","")
print("Column 'Maker' added as the last index of the column:\n\n",df)

Column 'Maker' added as the last index of the column:

       Year     Month                Date      Model  Dealer ID  Quantity Sold  \
0     2018   January 2018-01-01 23:00:00   Beaufort       1222             10
1     2018   January 2018-01-01 23:00:00     Salish       1222             13
2     2018   January 2018-01-01 23:00:00   Labrador       1222             16
3     2018   January 2018-01-01 23:00:00  Champlain       1222              3
4     2018   January 2018-01-01 23:00:00     Hudson       1222             22
...    ...       ...                 ...        ...        ...            ...
1195  2019  December 2019-12-01 23:00:00   Beaufort       1288             12
1196  2019  December 2019-12-01 23:00:00     Salish       1288             14
1197  2019  December 2019-12-01 23:00:00   Labrador       1288             18
1198  2019  December 2019-12-01 23:00:00  Champlain       1288              4
1199  2019  December 2019-12-01 23:00:00     Hudson       1288             25

       Profit Maker
0     15000.0
1     39650.0
2     12800.0
3      6900.0
4     11000.0
...       ...   ...
1195  18000.0
1196  42700.0
1197  14400.0
1198   9200.0
1199  12500.0

[1200 rows x 8 columns]

# Perform describe on dataframe

In [6]:
print(df.describe())

              Year                 Date    Dealer ID  Quantity Sold  \
count  1200.000000                 1200  1200.000000     1200.00000
mean   2018.500000  2018-12-16 23:00:00  1281.800000       17.99750
min    2018.000000  2018-01-01 23:00:00  1212.000000        2.00000
25%    2018.000000  2018-06-24 11:00:00  1217.000000       11.00000
50%    2018.500000  2018-12-17 11:00:00  1256.000000       18.00000
75%    2019.000000  2019-06-09 11:00:00  1336.000000       24.00000
max    2019.000000  2019-12-01 23:00:00  1402.000000       48.00000
std       0.500208                  NaN    72.453672        9.97432

             Profit
count   1200.000000
mean   24974.055208
min     4600.000000
25%    13500.000000
50%    18500.000000
75%    28922.812500
max    83875.000000
std    17370.750612

# Perform info on dataframe

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1200 non-null   int64
 1   Month          1200 non-null   object
 2   Date           1200 non-null   datetime64[ns]
 3   Model          1200 non-null   object
 4   Dealer ID      1200 non-null   int64
 5   Quantity Sold  1200 non-null   int64
 6   Profit         1200 non-null   float64
 7   Maker          1200 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 75.1+ KB
None

# Export and save this data as `CarSalesByModelStart1.xlsx`

In [8]:
df.to_excel("CarSalesByModelStart1.xlsx",index=False)